.main {
    padding-bottom: 30vh;
}

@keyframes lol{
  from {
    background-color: rgb(0, 0, 0);
  }
  to {
    background-color: rgb(255, 255, 255);
  }
}

.heading {
    text-align: center;
    font-size: 12vmax;
    padding-top: 28vh;
    font-weight: 300;
    padding-bottom: 4vh;
    margin-left: 10vw;
    margin-right: 10vw;
    background-image: linear-gradient(to right, #ff2e74, #4c4ff8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 100s linear 1s infinite, tracking-in-expand-fwd 1.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}

@keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

.quote {
    font-size: 3vmin;
    text-align: center;
    margin-left: 17vw;
    margin-right: 17vw;
    animation: tracking-in-expand-fwd 1.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@media only screen and (max-width: 992px) {

  .heading {
    font-size: 6.5vmax;
  }
}
